:root {
    --grid-size: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.hidden {
    display: none !important;
}

body {
    background-color: #18181a;
}

#leaderboardButton {
    color: white;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    margin: 20px 0px;
    width: 200px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#leaderboardButton:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

#leaderboard {
    position: absolute;
    color: white;
    background-color: rgb(54, 54, 54);
    width: 50vw;
    height: 50vh;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;

    & span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & ol {
        padding: 20px;
    }

    & #closeButton {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: red;
        font-size: 15px;
        border: none;
    }

    & #closeButton:hover {
        background-color: rgb(150, 0, 0);
        cursor: pointer;
    }

}

#playerStatusBox {

    & h1 {
        color: white;
        text-align: center;
        font-weight: 100;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#grid {
    align-items: center;
    justify-content: center;
    margin-top: calc(50vh - calc(2*var(--grid-size)));
    display: grid;
    grid-template-columns: var(--grid-size) var(--grid-size) var(--grid-size);
}

.grid-field {
    border: 1px solid white;
    width: var(--grid-size);
    height: var(--grid-size);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--grid-size);
    user-select: none;
}

& .grid-field:hover {
    background-color: rgb(54, 54, 54);
}

#restartGameButton {
    color: white;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    margin: 20px 0px;
    width: 200px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#restartGameButton:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

#winnerInput {
    background-color: rgb(54, 54, 54);
    width: 500px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 10px;
    padding: 20px;
    border-radius: 7px;

    & * {
        width: 400px;
        height: 30px;
        border-radius: 7px;
        border: none;
        padding: 10px;
    }

    & label {
        color: white;
        font-size: 1.1rem;
        font-weight: 800;
    }

    & input {
        font-weight: 100;
        transition: 0.07s ease;
    }

    & input:focus {
        outline: 2px solid #00ff00;
        box-shadow: 0 0 5px #00ff00;
    }

    & button {
        color: white;
        background-color: black;
        border: none;
        font-size: 1.2rem;
        border-radius: 7px;
        margin: 20px 0px;
        width: 200px;
        height: 50px;
        display: flex;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: center;
    }

    & button:hover {
        cursor: pointer;
        background-color: rgb(74, 74, 74);
    }
}